body {
  background-image: url("./fondo.jpg");
}

.size {
  font-size: 10px;
}

.shadow:hover {
  background-color: #8886;
  color: white;
}

.menu {
  height: 250px;
  background-color: #8886;
  margin-top: 30px;
}
